.site-database ul li{
	list-style: none;
}
.site-database .database-ul{
    border-top: 5px double #47407a;
	display: none;
}
.site-database .database-ul.visible{
	display: block;	
}
.site-database .file-image-preview, .file-details .file-image-preview{
	height: 256px;
	max-width:256px;
	background-color:black;
    overflow: hidden;
    padding: 0;
}
.file-details .file-content{
	margin-top: 20px;
	margin-bottom: 20px;
}
.site-database .no-entries{
	text-align: center;
    margin-top: 60px;
}
.site-database .file-image-preview.file-image-placeholder, .file-details .file-image-preview.file-image-placeholder{
    background: url(../images/logo-opaque.png) no-repeat;
	background-position: center;
	border: 1px solid #47407a;
}

.site-database .file-entry{
	margin-top:20px;
	padding-bottom: 20px;
	position: relative;
    border-bottom: 5px solid #47407a;
}
.site-database .file-data{
	position: static;
	height: 210px;
    overflow: hidden;
}
.site-database .file-data .file-title, .file-details .file-title {
	text-transform: uppercase;
	font-family: lato-black;
	color: #47407a;
	font-size: 2em;
}
.site-database .database-list-view .file-title{
	text-align: center;
    margin-top: 15px;
}
.site-database .database-list-view .file-title a{
	text-transform: uppercase;
	font-family: lato-black;
	color: #47407a;
	max-width: 100%;
    word-wrap: break-word;
    font-size: 1.3em;
} 
.site-database .file-description, .site-database .file-patient {
	 font-size: 1.5em;
}
.site-database .file-description{
	text-overflow: ellipsis;
    overflow: hidden;
    max-height: 100px;
}

.site-database .see-more-button{
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.site-database .download-checkbox{
    position: absolute;
    left: 5px;
    top: 5px;
}
.site-database .download-checkbox.list-view-checkbox{
	left: 25px;
}

    

 .site-database .download-checkbox input[type="checkbox"]{
    width:20px;
    height:20px;
    
    /*styles */   
    -webkit-appearance: none;
    background-color: #e4e1db;
    border: 3px solid #47407a;
    padding: 9px;
    display: inline-block;
    position: relative;
    
 }
 
 
 .site-database .download-checkbox input[type="checkbox"]:active, 
 .site-database .download-checkbox input[type="checkbox"]:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

 .site-database .download-checkbox input[type="checkbox"]:checked {
	background-color: #47407a;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #e4e1db;
}

.site-database .download-checkbox input[type="checkbox"]:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	font-weight: 600;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

.site-database .pick-all-btn{
	color: #47407a;
	background-color: inherit;
	border-radius: 4px;
	margin-left: 50px;
    border: 1px solid #47407a;
    padding: 4px 7px;
		
}
.site-database .pick-all-btn:hover{
	text-decoration: none;
	color: #e4e1db;
	background-color: #47407a;
	cursor: pointer;
}


.site-database .download-button {
	text-align: right;
    font-size: 1.5em;
    margin-top: -10px;
    padding-bottom: 10px;
}

.site-database .download-button .btn{
	margin-left: auto;
}
.site-database .download-button .btn:before{
	margin-right: 10px;
}
.site-database .total-count, .site-database .view-icons{
	display: inline-block;	
}    	

.site-database .view-icons{
	float: right;
    margin-right: 30px;
}
.site-database .view-icons i{
	font-size: 2em;
    margin: 0 20px;
}
.site-database .view-icons i:hover{
	cursor: pointer;
	font-weight: 600;
	color: #47407a;
}
.site-database .view-icons i.selected{
	font-weight: 600;
	color: #47407a;
}

    
.site-database .data-column{
	margin-top: -30px;
}

.site-database .filter-column{
    border: 5px solid #47407a;
    padding: 25px 15px 50px 15px;
    background-color: #e4e1db;
}
.site-database .database-search{
    margin-top: 10px;
    border: 5px solid #47407a;
    border-bottom: none;
    padding: 25px 15px 50px 15px;
    background-color: #e4e1db;
}
.site-database .database-sort{
    border: 5px solid #47407a;
    border-top: none;
    padding: 25px 15px 50px 15px;
    background-color: #e4e1db;
}
.site-database .database-search input[type="text"]{
	width: 100%;
	padding: 5px;
	padding-right: 33px;
    border: 2px solid #47407a;
    margin-bottom: 20px;
    background: #F2F2F2;
    background: -moz-linear-gradient(top, #F8F8F8 1%, #E1E1E1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #F8F8F8), color-stop(100%, #E1E1E1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .75);

}
.site-database .search-input-form{
	position: relative;
	margin-top: 30px;
}
.site-database .search-icon{
	top: 6px;
    right: 5px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    color: #47407a;
    position: absolute;
	
}
.site-database .search-icon:before{
    content: "\f002";
}

.site-database .sort-form .sort-options ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.site-database .sort-form .sort-options  ul li{
  display: block;
  position: relative;
}

.site-database .sort-form .sort-options label{
  display: block;
  position: relative;
  font-size: 1.2em;
  font-weight: 300;
  padding: 5px 10px 5px 50px;
  margin: 10px auto;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.site-database .sort-options input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.site-database .sort-form .sort-options ul li:hover label{
	color: #47407a;
}

.site-database .sort-form .sort-options ul li .check{
  display: block;
  position: absolute;
  border: 5px solid black;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 7px;
  left: 10px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.site-database .sort-form .sort-options ul li:hover .check {
  border: 5px solid #47407a;
}

.site-database .sort-form .sort-options ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 9px;
    width: 9px;
    top: 3px;
    left: 4px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.site-database .sort-form .sort-options input[type=radio]:checked ~ .check {
  border: 5px solid #47407a;
}

.site-database .sort-form .sort-options input[type=radio]:checked ~ .check::before{
  background: #47407a;
}

.site-database .sort-form .sort-options input[type=radio]:checked ~ label{
  color: #47407a;
}

.site-database .sort-form .sort-options .sort-direction label{
	display: inline-block;
		
}
.site-database .sort-form  .sort-direction-btn{
    font: normal normal normal 14px/1 FontAwesome;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 400;
    display: inline-block;

}

.site-database .sort-form .dsc-direction::before{
	content: '\f161';
}
.site-database .sort-form .asc-direction::before{
	content: '\f160';
}
.site-database .sort-form .sort-direction input[type=radio]{
	visibility: hidden;
}

.site-database .sort-form .asc-direction{
	padding-left: 15px;
}
.site-database .sort-form .sort-direction{
	margin-top: 10px;
}

.site-database .sort-form .sort-direction input[type=radio]:checked ~ label{
	font-weight: 600;
	color: #47407a;
	
}

.site-database .filter-column .database-title, .site-database .database-search .database-title, .site-database .database-sort .database-title{
    text-transform: uppercase;
    font-family: lato-black;
    color: #47407a;
    font-size: 2em;
    border-bottom: 5px solid #47407a;
    padding-bottom: 12px;
    text-align: center;
}


.site-database .filter-column label{
	color: #47407a;
}

.site-database .filter-column select{
	background-color: inherit;
    padding: 10px 20px;
    font-size: 1.2em;
    border: 2px solid #47407a;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.site-database .filter-submit-button{
    float: right;
    padding: 6px 20px;
}
.selectBox-dropdown .selectBox-arrow{
    font: normal normal normal 14px/1 FontAwesome;
    background: none !important;
	border-left: none !important;
}
.selectBox-dropdown .selectBox-arrow:before{
    content: "\f107";
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 25px;
    color: #47407a;
}
.selectBox-options{
	background-color: #e4e1db;
	font-size: 1.2em;
}
.selectBox-options LI.selectBox-selected A{
	background-color: #47407a;	
	color: #e4e1db;
}
.selectBox-options A{
	color: #47407a;
}

.selectBox-options a:hover{
	text-decoration: none;
}
.selectBox-dropdown{
    background-color: inherit;
    padding: 2px 20px;
    font-size: 1.2em;
    border: 2px solid #47407a;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0px;
}
.Zebra_DatePicker_Icon_Wrapper{
	 width: 100%;
	 border: 2px solid #47407a;
     margin-bottom: 20px;
    background: #F2F2F2;
    background: -moz-linear-gradient(top, #F8F8F8 1%, #E1E1E1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #F8F8F8), color-stop(100%, #E1E1E1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
}
.Zebra_DatePicker_Icon_Wrapper input{
	background: inherit;
    border: none;
    padding: 5px 5px 5px 27px ;
}


.Zebra_DatePicker_Icon_Wrapper input{
    width: 85%;
    display: inline-block;
}

.Zebra_DatePicker_Icon::before{
	content: "\f073";
	 font-size: 20px;
	 color: #47407a;
	
}
.Zebra_DatePicker_Icon{
	background: inherit;
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    border: none;
}

.Zebra_DatePicker .dp_daypicker th, .Zebra_DatePicker td.dp_hover, .Zebra_DatePicker td.dp_selected{
	 background-color: #47407a;
	 color:#e4e1db;
}
.Zebra_DatePicker td.dp_current{
	color:#47407a;
	font-weight: 600;
}
.Zebra_DatePicker td.dp_current:hover{
	color:#e4e1db;
}
.Zebra_DatePicker .dp_daypicker td, .Zebra_DatePicker .dp_daypicker th, .Zebra_DatePicker .dp_monthpicker td, .Zebra_DatePicker .dp_yearpicker td{
	border-color: #47407a;
}
/* file details*/
.file-details .papaya-viewer{
	margin-top: 25px;
}
.papaya-container{
    margin-bottom: 50px;
    position: static;
    
}
#File{
	display: none;
}
.file-details .icon-download {
    text-decoration: none;
}

.file-details .icon-download:before {
    font-size: 72px;
    color: #47407a;
}

.file-details .image-preview{
	max-height: 400px;
	overflow: hidden;
}
.file-details .image-preview img{
	margin-left: auto;
	margin-right: auto;
}

.nifti-header-info{
	color: #47407a;
	font-size: 1.5em;
	
}
#niftiHeader{
	border-left: 5px solid #47407a;
	padding-left: 15px;
	margin-left: 2px;
}

.file-metadata{
	margin-left: 8px;
}


/* pagination */
.site-database .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #47407a;
    border-color: #47407a;
    color: #e4e1db;
}
.site-database .pagination > li > a, .pagination > li > span{
	color: #47407a;
}
.site-database .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
	color: #47407a;
	background-color: #e4e1db;
}



#targetFrame{
	width: 600px;
	height: 400px;
	border: 10px solid #47407a;
}
.frame-wrapper{
	text-align: center;	
}










   