@CHARSET "UTF-8";

/*header */
#banner .header-main{
    padding-top: 20px;
  	padding-bottom: 20px;
}
#banner #display-controls {
	margin-top: 19px;
}

#banner #display-controls a{
	color: #47407a;
}
#banner #display-controls #font-size-large {
    font-size: 35px;
} 
#banner #display-controls #font-size-regular {
    font-size: 25px;
}
#banner #display-controls #font-size-small {
    font-size: 20px;
}
#banner .toggle-contast-span{
	font-size: 35px;
}

#banner .control-button.selected{
	text-decoration: underline;
}


#banner .subtitle{
    font-size: 3em;
    color: #47407a;
    margin-top: 13px;
    font-family: lato-black;
}
/* navgation */

nav#w0{
	background-color: #47407a;
    height: 70px;
    margin-bottom: 20px;
}

nav#w0 ul#w1 {
	margin-top: -1px;
}
nav#w0 ul#w1 li{
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    height: 70px;
    padding: 0 9px;
    position: relative;
    font-size: 1.8em;	
	
}

nav#w0 ul#w1 li a{
	color: #e4e1db;
}
nav#w0 ul#w1 li:hover, nav#w0 ul#w1 li.active {
	background-color: #e4e1db;
}


nav#w0 ul#w1 li:hover a, nav#w0 ul#w1 li.active a{
	color: #47407a  !important;
}
nav#w0 ul .li-logout{
    position: absolute !important;
    top: -1px;
    right: 5px;
}
nav#w0 ul .li-logout form{
    height: 100%;
}
nav#w0 ul .li-logout:hover .btn-logout{
	text-decoration: underline;
}
nav#w0 ul .li-logout:hover{
	background-color: inherit  !important;
}
nav#w0 ul .btn-logout{
	padding: 10px 15px;
    color: #e4e1db;
    font-size: 0.8em;
    margin-top: 8px;
}


.nav > li > a:hover, .nav > li > a:focus{
	background-color: inherit;
}

/*content*/

.breadcrumb{
	background-color: #e4e1db;
}
.btn.btn-primary{
 	background-color: #47407a;
    border-color: #47407a;
}
.img-responsive-inverse{
	max-height: 100%;
	width: auto;	
}

/*footer*/

.footer .link-banners img{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.footer .link-banners a:hover, .footer .link-banners a:focus{
	text-decoration:none;
}

.footer .powered-by span {
    font-size: 1.3em;
    padding-right: 30px;
    border-left: 4px solid #47407a;
    padding-left: 30px;
    height: 60px;
    vertical-align: middle;
    display: table-cell;
}
.footer .powered-by .yii a{
	color: #47407a;
}
.footer .powered-by .yii a:hover{
	color: #47407a;
}
/*home page */


.site-index .project-title{
    font-size: 2.5em;
    color: #47407a;
    text-shadow: 2px 2px #e4e1db;
    font-weight: 600;
    font-family: lato-black;
}

.site-index  .sub-title{
    font-size: 1.5em;
    color: #47407a;
    text-transform: uppercase;
    font-weight: 600;   
}

.site-index .project-description{
	font-size: 1.2em;
	text-align: justify;
}
.site-index .research-link{
    margin: 70px;
}
/*contrast */

body.contrast {
	background-color: #000;
}
body.contrast .header-main, body.contrast #banner #display-controls a{
	color: white !important;
}

body.contrast nav#w0{
	background-color: #000;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}


body.contrast nav#w0 ul#w1 li a{
	color: white;
}
body.contrast nav#w0 ul#w1 li:hover, body.contrast nav#w0 ul#w1 li.active{
	background-color: white !important;
}
body.contrast nav#w0 ul#w1 li:hover a, body.contrast nav#w0 ul#w1 li.active a{
	color: black !important;
}
body.contrast .footer{
    background-color: black;
    border-top: 2px solid white;

}
body.contrast p, body.contrast a, body.contrast, body.contrast .file-details .icon-download:before{
	color: white;
	
}
body.contrast .site-database .database-list-view .file-title a{
	color: white;
}

body.contrast .file-title{
	color: white !important;
}
body.contrast .file-image-placeholder{
	border-color: white !important;
	
}

body.contrast .btn-primary, body.contrast .papaya-main-increment, body.contrast .papaya-main-decrement,
body.contrast .papaya-main-swap, body.contrast .papaya-main-goto-center, body.contrast .papaya-main-goto-origin,  
body.contrast .form-control, body.contrast .database-sort{
    color: white;
    background-color: black;
    border-color: white;
}
body.contrast .site-database .sort-form .sort-options input[type=radio]:checked ~ label{
	color: white;
}
body.contrast  .site-database .sort-form .sort-options input[type=radio]:checked ~ .check::before{
	background-color: white;
}
body.contrast .site-database .sort-form .sort-options input[type=radio]:checked ~ .check,
body.contrast  .site-database .sort-form .sort-options ul li .check{
	border-color: white;
}
body.contrast .site-database .sort-form .sort-options ul li:hover label{
	color: white;
	font-weight: 600;
}
body.contrast .site-database .sort-form .sort-direction input[type=radio]:checked ~ label,
body.contrast .site-database .view-icons i.selected{
	color: white;
}
body.contrast .site-database .view-icons i:hover{
	color: white;
}
body.contrast .breadcrumb{
	color: white;
    background-color: black;
    border: 2px solid white;
}
body.contrast .breadcrumb .active{
	color: white;
}
body.contrast .site-database .pick-all-btn{
		color: white;
    background-color: black;
    border: 2px solid white;
}
body.contrast #niftiHeader{
	border-color: white;
}


body.contrast .btn-primary:hover {
    color: black;
    background-color: white;
    border-color: black;
}
body.contrast .footer .powered-by span{
	border-color: white;
	
}

body.contrast .footer .powered-by .yii a{
	color: white;
}
body.contrast .footer .powered-by .yii a:hover{
	color: white;
}

body.contrast .site-database .file-entry{
	border-bottom: 5px solid white;
}

body.contrast .pagination > li > a, body.contrast  .pagination > li > span{
	background-color:black;
	color:white;
}
body.contrast .pagination > .active > a, body.contrast .pagination > .active > span{
    border-color: #9c9292;
}

body.contrast .pagination > .active > a, body.contrast .pagination > .active > span, body.contrast .pagination > .active > a:hover{
	background-color: #9c9292;
}
body.contrast .pagination > li > a:hover, body.contrast .pagination > li > span:hover, body.contrast .pagination > li > a:focus, body.contrast .pagination > li > span:focus{
    color: white;
    background-color: #9c9292;
    border-color: #9c9292;
}



body.contrast .pagination > .disabled > span:hover{
	background-color: inherit;
	color: inherit;
    border-color: inherit;
    
}
body.contrast .site-database .download-checkbox input[type="checkbox"]{
	border-color: white;
	background-color: black;
}
body.contrast  .site-database .download-checkbox input[type="checkbox"]:checked:after{
	color: white;
}
body.contrast .site-database .database-ul{
	border-top-color: white;
}

body.contrast  .site-database .filter-column, body.contrast .site-database .database-search {
    border: 5px solid white;
    background-color: black;
}
body.contrast .papaya-container{
	border: 5px solid white;
    padding: 5px;
}

body.contrast .search-icon{
	color:white;
}

body.contrast  .site-database .database-title {
    color: white;
    border-bottom: 5px solid white;
}
body.contrast .site-database .filter-column label, body.contrast .selectBox-dropdown .selectBox-arrow:before {
	color: white;
}
body.contrast .selectBox-dropdown, body.contrast .site-database .search-input-form input[type="text"]{
    border: solid 1px white;
    background: none !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
    
body.contrast .selectBox-options {
    background-color: inherit;
}
body.contrast .selectBox-options LI.selectBox-selected A {
    background-color: inherit;
    color: white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    font-weight: 600;
}
body.contrast .selectBox-options LI.selectBox-hover A {
    background-color: inherit;
    font-weight: 600;
}

body.contrast .Zebra_DatePicker_Icon_Wrapper {
    border: 2px solid white;
    background: black !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body.contrast .Zebra_DatePicker_Icon::before {
    color: white;
}
body.contrast .Zebra_DatePicker_Icon{
	background-color: black;
}

body.contrast .Zebra_DatePicker{
	background-color: black;
	border: 1px solid white;
}

body.contrast .Zebra_DatePicker .dp_daypicker td, body.contrast .Zebra_DatePicker .dp_daypicker th, body.contrast .Zebra_DatePicker .dp_monthpicker td, body.contrast  .Zebra_DatePicker .dp_yearpicker td {
    border-color: white;
}
body.contrast .Zebra_DatePicker .dp_daypicker th, body.contrast  .Zebra_DatePicker td.dp_hover, body.contrast .Zebra_DatePicker td.dp_selected {
    background-color: black;
    color: white;
}
body.contrast .Zebra_DatePicker td.dp_not_in_month {
    background: black;
    color: white;
}
body.contrast .Zebra_DatePicker .dp_daypicker td, body.contrast .Zebra_DatePicker .dp_daypicker th, body.contrast .Zebra_DatePicker .dp_monthpicker td, body.contrast .Zebra_DatePicker .dp_yearpicker td{
    background: black;
    color: white;
}
body.contrast .Zebra_DatePicker .dp_disabled{
	text-decoration: line-through;
}
body.contrast .project-title{
	color: white;
    text-shadow: none;
}
body.contrast .sub-title{
	color: white;
}
body.contrast #targetFrame{
	border-color:white;
}
